.container {
    padding: 32px;
    background-color: #f2f2f2;
    overflow: hidden;
    overflow-y: auto;

    .github_corner {
        position: absolute;
        top: 0;
        border: 0;
        right: 0;
    }
    .chart_cell {
        background: rgb(255, 255, 255);
        padding: 16px 16px 0px;
        margin-top: 32px;
    }
}
