.card_panel {
    height: 108px;
    cursor: pointer;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    color: #666;
    background: #fff;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;

    .card_panel_icon_wrapper {
        padding: 16px;
        transition: all 0.38s ease-out;
        border-radius: 6px;
    }

    &:hover {
        .card_panel_icon_wrapper {
            color: #fff;
        }

        .icon_people {
            background: #40c9c6;
        }

        .icon_message {
            background: #36a3f7;
        }

        .icon_money {
            background: #f4516c;
        }

        .icon_shopping {
            background: #34bfa3;
        }
    }

    .icon_people {
        color: #40c9c6;
    }

    .icon_message {
        color: #36a3f7;
    }

    .icon_money {
        color: #f4516c;
    }

    .icon_shopping {
        color: #34bfa3;
    }
}

.panel_text{
    font-size: 20px;
    font-weight: bold;
    color: #666;
    .panel_text_name{
        font-size:16px;
        margin-bottom: 12px;
        color: rgba(0,0,0,.45);
    }
}